html {
  display: flex;
  justify-content: center;
}
body {
  display: flex;
  font-family: 'KumbhSans', sans-serif;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 770px;
} 

@media (max-width : 650px) {
  body {
  margin: 0px;
  }
}