@font-face {
  font-family: 'KumbhSans';
  src: url('../Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf') format('truetype'); 
  font-weight: 100 900;
  font-style: normal;
}

#body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 670px;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 85vh;
  max-width: 1000px;
  gap: 80px;
}

#imageSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#textSection {
  display: flex;
  margin-top: 100px;
  margin-bottom: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#companyName {
  text-transform: uppercase;
  color: hsl(219, 9%, 45%);
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 16px;
}

#shoesName {
  font-weight: 700;
  font-size: 48px;
  margin-top: 0px;
  width: 450px;
}

#description {
  color: hsl(219, 9%, 45%);
  font-weight : 400;
  width: 430px;
  line-height: 1.75;
  margin-top: 0px;
}

#priceDiscount {
  position: relative;
  font-size: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#discount {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 130px;
  color: white;
  font-weight: 700;
  background-color: black;
  border-radius: 8px;
  width: 55px;
  height: 30px;
}

#price {
  margin-top: 0;
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
  font-weight: 700;
}

#discountSection {
  position: relative;
}
#numberOfProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: hsl(223, 64%, 98%);
  width: 150px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 14px;
}

#addToCart {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

#numberOfProduct p {
  font-weight: 700;
}

#numberOfProduct button {
  display: flex;
  justify-content: center;
  align-items: center;
  all : unset;
  cursor: pointer;
}

#minus {
  padding-bottom: 4px;
}

#numberOfProduct button:hover img {
  opacity: 0.6;
}

#buttonToAdd {
  all : unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 280px;
  background-color: hsl(26, 100%, 55%);
  border-radius: 10px;
}

#buttonToAdd:hover {
  opacity: 0.6;
}
#buttonToAdd img {
  filter: invert(0%) brightness(0%);
  width: 18px;
}

#buttonToAdd p {
  font-weight: 700;
}

#largeImageMobile {
  display: flex;
  position: relative;
}

#largeImageMobile img {
  width: 100dvw;
  height: 100dvw;
}
#previousMobile, #nextMobile {
    all: unset;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%; 
    transform: translateY(-50%); 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
}

#previousMobile {
  left: 15px; 
}

#nextMobile {
  right: 15px; 
}

#previousMobile:hover img, #nextMobile:hover img {
  filter: invert(51%) sepia(96%) saturate(789%) hue-rotate(-10deg);
}

@media (max-width: 1090px) {
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap:0px;
  }
}

@media (max-width: 650px) {
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #imageSection  {
    padding-left: 0px;
    padding-right: 0px;
  }
  #companyName {
    font-size: 12px;
  }
  #shoesName {
    font-size: 28px;
    width: 100%;
  }
  #description {
    font-size: 14px;
    width: 100%;
  }
  #textSection {
    margin: 0;
    padding: 14px;
    width: 90%;
    margin-bottom: 50px;
  }
  #addToCart {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #buttonToAdd {
    width: 100%;
  }
  #numberOfProduct {
    width: 90%;
  }
  
  #discountSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px
  }
  #discount {
    position: static;
  }
  #containerPrice {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  #price {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}