@font-face {
  font-family: 'KumbhSans';
  src: url('../Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf') format('truetype'); 
  font-weight: 100 900;
  font-style: normal;
}

#container {
  display: flex;
  flex-direction: row;
  height: 85vh;
  gap: 80px;
}

#imageSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px;
}

#textSection {
  display: flex;
  position: relative;
  margin-top: 100px;
  margin-bottom: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#companyName {
  text-transform: uppercase;
  color: hsl(219, 9%, 45%);
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 16px;
}

#shoesName {
  font-weight: 700;
  font-size: 48px;
  margin-top: 0px;
  width: 450px;
}

#description {
  color: hsl(219, 9%, 45%);
  font-weight : 400;
  width: 430px;
  line-height: 1.5;
  margin-top: 0px;
}

#priceDiscount {
  position: relative;
  font-size: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#discount {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 130px;
  color: white;
  font-weight: 700;
  background-color: black;
  border-radius: 8px;
  width: 55px;
  height: 30px;
}

#price {
  margin-top: 0;
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
  font-weight: 700;
}

#discountSection {
  position: relative;
}
#numberOfProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: hsl(223, 64%, 98%);
  width: 150px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 14px;
}

#addToCart {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

#numberOfProduct p {
  font-weight: 700;
}

#numberOfProduct button {
  display: flex;
  justify-content: center;
  align-items: center;
  all : unset;
  cursor: pointer;
}

#minus {
  padding-bottom: 4px;
}

#numberOfProduct button:hover img {
  opacity: 0.6;
}

#buttonToAdd {
  all : unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 280px;
  background-color: hsl(26, 100%, 55%);
  border-radius: 10px;
}

#buttonToAdd:hover {
  opacity: 0.6;
}
#buttonToAdd img {
  filter: invert(0%) brightness(0%);
  width: 18px;
}

#buttonToAdd p {
  font-weight: 700;
}
