@font-face {
  font-family: 'KumbhSans';
  src: url('../Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf') format('truetype'); 
  font-weight: 100 900;
  font-style: normal;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  }
  
  #containerHeader {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    border-bottom: 3px solid hsl(223, 64%, 98%) ;
    max-width: 1100px;
  }
  #title {
    font-weight: 700;
    letter-spacing: -1px;
  }
  
  #leftHeader {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  
  #cartButton {
    all: unset;
    cursor: pointer;
    position: relative;
  }

  #cartButton:hover img {
    filter: invert(0%) brightness(0%);
  }

  #cartButton div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: hsl(26, 100%, 55%);
    border-radius: 8px;
    width: 20px;
    height: 15px;
    font-size : 12px;
    top: -8px;
    right: -8px;
    color: white;
    font-weight: 700;
  }

  #navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    color: hsl(219, 9%, 45%);
  }
  
  @media (max-width : 1010px) {
    #navigation {
      display: none;
    }
  }
  a {
    all: unset;
    cursor: pointer;
  }
  #rightHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 40px;
  }
  
  #profile {
    cursor: pointer;
    width: 50px;
  }
  
  #profile:hover {
    border-radius: 30px;
    border: 3px solid hsl(26, 100%, 55%);
  }
  
  #navigation div {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  #navigation div:hover {
    border-bottom : 3px solid hsl(26, 100%, 55%);
  }
  
  

  #firstPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  #firstPart img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
  }

  #firstPart h1 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
  }

  #firstPart div {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.5px;
  }

  #firstPart strong {
    font-weight: 700;
    color: black;
  }

  #firstPart button {
    all: unset;
    cursor: pointer;
    width: 15px;
    height: 15px;
  }

  #firstPart button img {
    width: 15px;
    height: 15px;
  }


  #firstPart p {
    font-weight: 400;
    margin-top: 6px;
  }

  #secondPart button {
    all : unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 60px;
    background-color: hsl(26, 100%, 55%);
    border-radius: 10px;
    color:black;
    font-weight: 700;
  }
  
  #secondPart button:hover {
    opacity: 0.6;
  }
  
@media (max-width : 650px) {
  header {
    width: 100%;
    padding-bottom: 6px;
    padding-top: 6px;
  }
  #leftHeader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #leftHeader #title {
    margin: 0;
  }
  #rightHeader {
    gap:20px;
  }
  #profile {
    width: 22px;
  }
}
